    h1,
    h2 {
        display: inline-block;
        color: white;
    }
    
    h1 {
        font-size: 62px
    }
    
    h2 {
        font-size: 48px;
    }
    
    h3 {
        display: inline-block;
        color: black;
        background: white;
        font-size: 22px;
    }
    
    .button {
        display: inline-block;
        color: black;
        background: #FFA500;
        font-size: 36px;
        margin: 20px;
        padding: 20px;
    }

    table.center {
        display: inline-block;
        color: #FFA500;
        background: #black;
        font-size: 36px;
        margin: 20px;
        padding: 20px;
	margin-left:auto; 
    	margin-right:auto;
    }
    
    span {
        color: black;
        background: #FFA500;
    }

    h1,
    h2,
    h3,
    .button,
    span {
        font-family: Abel;
	line-height: 75%;
    }

@font-face {
    font-family: 'abelregular';
    src: url('abel-regular-webfont.eot');
    src: url('abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('abel-regular-webfont.woff2') format('woff2'),
         url('abel-regular-webfont.woff') format('woff'),
         url('abel-regular-webfont.ttf') format('truetype'),
         url('abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
